body{
background:linear-gradient(to right,yellow,green,red,blue);
}
#social{
text-align:center;
font-size:120%;
}
.rrr{
display:none;
}
.Abtpht{
width:50%;
height:150px;
margin-left:auto;
margin-right:auto;
display:block;
border-radius:15px;
}
p{
font-size:90%;
text-align:justify;
margin:2%;
}
li{
font-size:100%;
}
li>ul>li{
font-size:85%;
}
img{
text-align:center;
padding:0.5%;
}
h2{
text-align:center;
font-family:courier;
font-weight:600;
font-size:300%;
}
img:hover{
filter: Sepia(20%);
transform: scale(1.05);
transition: 1.5s;
}
hr{
border:1px solid black;
}
#smallfont{
font-size:1.5em;
}
nav{
text-align:center;
display:block;
}
.alwaysLeft{
background:linear-gradient(to right,blue,red,green,yellow);
left:0;
}
nav>a{
display:inline-block;
padding:5px;
margin:5px;
text-align:center;
font-size:1em;
color:#000544;
border:2px solid black;
border-radius:10px;
text-decoration:none;
background:linear-gradient(blue, white);
font-weight:bold;
}
.Pics{
margin:15px;
padding:10px;
border-radius:25px 25px 25px 25px;
width:80%;
margin-left:auto;
margin-right:auto;
display:block;
}
.arrow{
border:solid black;
border-width:0 3px 3px 0;
display:inline-block;
padding:3px;
}
.right{
transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
}
.left{
transform:rotate(135deg);
-webkit-transform:rotate(135deg);
}
nav>a:hover{
font-weight:400;
}
nav>a:hover{
background:#999FFF;
}
a{
text-decoration:none;
color:black;
}

span{
display:none;
}
#small{
padding:2%;
width:25%;
float:left;
}
h1{
text-align:right;
color:#0ff0f0;
font-variant:small-caps;
padding-right:2px;
display:inline-block;
}

footer{
background:grey;
position:fixed;
left:0;
bottom:0;
width:100%;
}
#left{
clear:left;
float:left;
padding-left:5px;
}
#right{
float:right;
clear:right;
padding-right:5px;
}
.copyright{
margin-bottom: 0;
text-align: center;
font-size:75%;
}


@media all and (min-width:900px){

h1{
text-align:center;
}
span{
display:inline;
}
#left{
text-align:left;
padding-left:23%;
}
#right{
text-align:right;
float:right;
display:inline-block;
padding-right:10px;
}
footer{
font-size:140%;
}
#small{
width:150px;
margin-left:auto;
margin-right:auto;
display:block;
float:none;
}
nav>a{
display:block;
padding:10px;
margin:10px;
font-size:1.5em;
color:#000544;
}
.alwaysLeft{
float:left;
width:22%;
position:sticky;
bottom:0;
top:0;
background:grey;
padding:10px;
}
.alwaysRight{
padding-left:22%;
}
.Pics{
display:inline-block;
width:49%;
height:300px;
}
h2{
font-size:400%;
}
.Abtpht{
width:25%;
height:150px;
float:right;
clear:right;
}
.rrr{
display:block;
width:40%;
float:right;
clear:right;
margin:5%;
}
p{
font-size:130%;
}
li{
font-size:140%;
}
li>ul>li{
font-size:90%;
}
#social{
font-size:160%
}
}